.ipynb_checkpoints/
/samples/panda/.ipynb_checkpoints/
.idea/
/samples/numpy/.ipynb_checkpoints/
/projects/final/DS Final Project.7z
/projects/final/Column Description.txt
/projects/final/Test.csv
/projects/final/Train.csv